.title{
    text-align: center;
    background-color: aqua;
    padding-top: 15px;
    padding-bottom: 15px;
}
.columns{
    display: flex;
    height: 100vh;
}
.UploadImg {
	padding: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.formItem {
	margin-top: 15px;
	width: 10%;
	align-self: center;
}

.col{
    background-color: antiquewhite;
}
.dragImg{
    height: 140px;
    width: 140px;
    position:absolute;
    border: 1px solid black;
}
.middle{
    width: 100%;
    background-color: white;
}
.outer{
    width: 100%;
}
.imgstack{
    display: flex;
    flex-direction: column;
}
.imgcols{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.drop-active {
    border-color: #aaa;
}
  
.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.col_input {
    border: 0px;
    font-size: 2.4vh;
    text-align: center;
    padding:0.3em;
}